*{
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}

.welcome{
    width: 70%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.welcome h1{
    width: 60%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;


}

.welcome img{
    margin-left: auto;
    margin-right: auto;

}

.logo {
    margin: 0;
    float: left;
    margin-right: 10px;
    margin-left: 5vw;
    border-radius: 50px;
}

.main {
    display: flex;
    
}

.side{
    padding-top:25px;
    width:28%;
    margin: 0;
    position: relative;
    background-color: #00000015;
    border-radius: 50px;
}

ul{
    text-align: center;
    margin-top: 5vh;
}
li{
    width:70%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.cart{
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    border-color: #FF4742;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 20px;

}

.kosik{
    display: flex;

}

.polozky{
    display: flex;
    width:70%;
    justify-content: space-between;
}

.polozky img{
    width: 250px;
    height: 240px;
}

.left {
      height: 90vh;  

    
}



.search-container{
    width: 60%;
    margin:0;
    margin-left: 3vw;
  }
  
  input#search-bar{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
    input#search-bar:focus{
      border: 1px solid #FF4742;
      transition: 0.35s ease;
      color: #FF4742;
    }
      input#search-bar::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
       input#search-bar::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
       input#search-bar:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     
   
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  


.cart i{
    margin-top: 10px;
}

.content{
    display: flex;
    width:70%;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 0;
}

.item {
    width: 20%;
    text-align: center;
    flex: 0 0 33.333333% ;
    padding-top: 25px;
    padding-bottom: 25px;

    
}
.item:hover {
  background-color: #DACFCF;
  border-radius: 50px ;
  opacity: 1;
  animation: fade 2s linear;
  transition: 0.3s;

}

.item p{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}


.item img{
    width: 250px;
    height: 240px;
    border-radius: 100%;
}

ul {
    list-style: none;
    text-align: center;
}

.active{
    background: #FF4742;
}

.butt{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .butt:hover,
  .butt:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .butt:active {
    opacity: .5;
  }

  /*carousel*/

  
.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .pred {
    align-items: center;
    color: white;

    text-align: center;
  }

  .pred img{
      max-width:190px;
      height: 200px;
      margin: 0 auto;
  }

  .top{
      text-align: center;

  }



  /*footer*/

footer{

    padding: 3em 1em;

}

hr{
  border-top: 5px solid #bbb;
  border-radius: 5px;
}

footer a{
    color: inherit;
}

.footer-nav, 
.footer-social{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-nav a{
    padding: 0.75em;
    text-decoration: none;
}

.footer-nav a:hover{
    text-decoration: underline;
}

.social-link{
    display: inline-block;
    margin-bottom: 5px;
}

.social-icon{
    width: 30px;
}
  @media screen and (max-width: 500px) {
    .contain {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        margin-top: 10px;;
      }
      
      .pred {
        align-items: center;
        background-color: white;
        text-align: center;
        color:black;
        border: solid black 1px;
        padding: 10px;
      }
    
      .pred img{
          max-width:190px;
          height: 200px;
          margin: 0 auto;
      }
    
      .top{
          text-align: center;
    
      }

      .search-container{
          width: 80%;
      }

  }
  
  
